.footers {
	margin: 0rem;
	padding: 0rem;
	color: white;
	padding-bottom: 10px;
	margin-top: 1018px;
	position: block;
	text-align: center;
	background-color: black;
}

.footers > p {
	color: white;
	margin: 0rem;
}