.slides {
    height: 43rem;
    padding: 0px;
    margin: 0px;
}

.slide {
    position: absolute;
    width: 1335px;
    height: 43rem;
}

.content>div {
    display:none;
}

.underline {
    border-bottom: 2px solid bold;
    line-height: 0.85;
}

.footers{
	position: block;
	padding: 0px;
    margin: 0px;
    text-align:  center;
    color: white;
    background-color: black;
}

