/*task1*/
.taskOneCalculation {
	text-align: center;
    border-style: outset;
    width: 44rem;
    border-spacing: 0.5rem;
    border-radius: 0.6rem;
	margin:auto;
	background-color: yellow;
}

.taskOneScreen {
	color: white;
    width: 41rem;
    height: 8rem;
	font-size: 20pt;
    border-style: ridge;
    border-color: grey;
	border-radius: 2.5rem;
    margin-top: 0.4rem;
    margin-left: auto;
    background: linear-gradient(grey,white);
}

.taskOneButton{
    color: white;
    height: 8rem;
    width: 8rem;
    border-radius: 2.5rem;
    font-size: 20pt;
    background: blue;
}

/*task2*/
.taskTwo {
	max-height: 96rem;
	overflow-y: scroll;
}

#matr1 {
	display:inline-block;
	margin: 0.8rem;
	background-color: blue;
}

#matr2 {
	display:inline-block;
	margin: 0.4rem;
	background-color: blue;
}

#matr3 {
	display:inline-block;
	margin: 0.8rem;
	background-color: yellow;
}

#taskTwoInput {
	width: 4rem;
	height: 4rem; 
	margin: 0.5rem;
}

#divbutmat r {
	display: inline-block;
}

.taskTwoMatrix {
	display: inline-block;
	text-align: center;
	margin: -6rem -0.4rem;
	font-size: 2.1rem;
	color: blue;
	padding: 1rem 1rem;
	border: 0.3rem solid blue;
	width: 10rem;
	border-radius: 2.5rem;
	margin-bottom: 1rem;
}

/*task3*/
.taskThreeBtn {
	font-size: 2rem;
	color: blue;
	padding: 1rem 2rem;
	border: 0.2rem solid blue;
	width: auto;
	border-radius: 2.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: inline-block;
	font-weight: bold;
    text-align: center;
}

.taskThreeInput {
	color: white;
  	font-size: 20pt;
	margin-top: 2rem;
    border-color: grey;
	background: linear-gradient(grey,white);
}

.taskThreeLabel {
	font-size: 2rem;
    color: red;
}

/*task4*/


/*task5*/
.taskFiveButton {
	display: inline-block;
	text-align: center;
	margin: 1rem 5rem;
	font-size: 2.1rem;
	color: blue;
	padding: 1rem 1rem;
	border: 0.2rem solid blue;
	width: 17rem;
	border-radius: 2.5rem;
}

/*task6*/
.taskSixLabel {
	font-size: 2rem;
    color: red;
}

.taskSixInput {
	color: blue;
  	font-size: 20pt;
	margin-top: 2rem;
    border-color: blue;
	background: white;
} 

/*task7*/
.taskSevenLabel {
	font-size: 2rem;
    color: red;
}

.taskSevenInput {
	color: blue;
  	font-size: 20pt;
	margin-top: 2rem;
    border-color: blue;
	background: white;
} 

/*task8*/
.taskEightBlock {
	font-size: 5rem;
    color: red;
	text-align: center;
	margin-left: 15rem;
}

.taskEightBlockMonth {
	font-size: 2rem;
	color: blue;
	border: 1rem solid red;
}

.taskEightBlockDay {
	font-size: 2rem;
	color: blue;
	border: 1rem solid red;
}

.taskEightSignZodiac {
	font-size: 3rem;
	color: blue;
	border: 1rem solid red;
}

.taskEightButton {
	display: inline-block;
	text-align: center;
	margin: 1rem 5rem;
	font-size: 2.1rem;
	color: blue;
	padding: 1rem 1rem;
	border: 0.2rem solid blue;
	width: 17rem;
	border-radius: 2.5rem;
}

/*task9*/
.taskNineDay {
	width:20rem;
	font-size:2rem;
	color: blue;
	margin-top: 2rem;
	margin-left: 5rem;
    border-color: blue;
	background: white;
}

.taskNineMonth {
	width:20rem;
	font-size:2rem;
	color: blue;
	margin-top: 2rem;
	margin-left: 5rem;
    border-color: blue;
	background: white;
}
.taskNineYear {
	width:20rem;
	font-size:2rem;
	color: blue;
	margin-top: 2rem;
	margin-left: 5rem;
    border-color: blue;
	background: white;
}

.taskNineButtonEqully {
	font-style: italic; 
	font-weight: bold; 
	animation: colorchange 20s infinite;
	position: absolute; 
	display: inline-block;
	text-align: center;
	margin: 1rem 5rem;
	font-size: 2.1rem;
	color: blue;
	padding: 1rem 1rem;
	border: 0.2rem solid blue;
	width: 17rem;
	border-radius: 2.5rem;
}

.taskNineTextEqually {
	width:20.5rem; 
	color:#313131; 
	font-size:4rem; 
	font-weight: bold;
	margin-left: 60rem;	
	animation:colorchange 20s infinite; 
	position: absolute; 
}

@keyframes colorchange {
    0% {
		color: blue;
    }
    
	10% {
        color: #8e44ad;
    }
      
    20% {
        color: #1abc9c;
    }
      
    30% {
        color: #d35400;
    }
      
    40% {
        color: blue;
    }
      
    50% {
        color: #34495e;
    }
      
    60% {
        color: blue;
    }
      
    70% {
        color: #2980b9;
    }
	
	80% {
		color: #f1c40f;
    }
      
    90% {
        color: #2980b9;
    }
      
    100% {
        color: pink;
    }
}