/*task10*/
/*task11*/
.button_task11{
	display: inline-block;
	text-align: center;
	margin: 1rem 5rem;
	font-size: 2.1rem;
	text-transform: uppercase;
	color: blue;
	padding: 1rem 1rem;
	border: 0.2rem solid blue;
	width: 17rem;
	border-radius: 2.5rem;
}
#write_task11{
	color: red;
}
/*task12*/
/*task13*/
/*task14*/
/*task15*/
/*task16*/
.run_task16{
	height: 9rem;
    width: 50rem;
	font-size: 3.2rem;
    text-align: center;
	border: 0rem; 
	background-color: blue; 
	color: yellow;
	margin-left: 30rem;
}
/*task17*/
/*task18*/
/*task19*/
