
#left {
	float: left; 
	width: 300px; 
	height: 100px; 
	 padding: 0px;
	background: gray;
	border: 1px solid black;
}
#right {
	height: 100px; 
    padding: 0px;
    border: 1px solid black;
}

#slides {
    height: 250px;
    padding: 0px;
    margin: 0px;
}

.slide {
    position: absolute;
    width: 1335px;
    height: 250px;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide:nth-of-type(1) {
	background: url("/img/slide1.jpg") center center ;
	background-size: cover;
}
.slide:nth-of-type(2) {
    background: url("/img/slide2.jpg") center center;
}
.slide:nth-of-type(3) {
    background: url("/img/slide3.jpg") center center;
    background-size: cover;
}
.slide:nth-of-type(4) {
    background: url("/img/slide4.jpg") center center;
    background-size: cover;
}
.slide:nth-of-type(5) {
    background: url("/img/slide5.jpg") center center;
    background-size: cover;
}

#textslide{
	color: purple;
	font-size: 50px;
	font-weight: 800px;
}

.underline {
  border-bottom: 2px solid bold;
  
  line-height: 0.85;
}


.controls{
	width: 100px;
    height: 50px;
	color:blue;
    background-color: lime;
    position:relative;
    left:600px;
}

.sizebuttons{
	 width: 700px;
    height: 200px;
}

.footers{
	position: block;
	padding: 0px;
    margin: 0px;
    text-align:  center;
    color: white;
    background-color: black;
}

